body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(102, 205, 170);
  color: rgb(0, 0, 0); /* Changed text color to black */
}

label {
  display: block;
  margin: 0.5rem 0;
}
